
public-color = #36a258

.public-title
	h3
		font-size 34px
		color #36a258
		position relative
		margin-bottom 60px
		&:after
			content ""
			position absolute
			left 50%
			bottom -20px
			width 50px
			height 3px
			margin-left -25px
			background #bbb
.h-main
	.banner
		.wrap
			height 680px
			background url() center top no-repeat
			@media(max-width 768px)
				height 500px
			&.first-animation
				.center
					padding-top 140px
					text-align center
					@media(max-width 768px)
						padding-top 80px
					.pb60
						padding-bottom 60px
					h3
						padding-bottom 40px
						font-size 50px
						color #3ebb6d
						@media(max-width 768px)
							font-size 26px
					p
						padding-bottom 20px
						text-align center
						font-size 14px
						color public-color
						span
							position relative
							padding-left 40px
							font-size 16px
							color #fff
							@media(max-width 768px)
								font-size 14px
								padding 0 10px
								&:after
									display none
							&:after
								content ""
								position absolute
								left 20px
								top 50%
								margin-top -2px
								width 4px
								height 4px
								border-radius 50%
								background public-color
					.icon
						padding-bottom 10px
						font-size 0
						div
							width 60px
							height 60px
							display inline-block
							background url('../img/icon12.png') center center no-repeat
							&.icon-2
								background-image url('../img/icon_74.png')
							&.icon-3
								background-image url('../img/icon_84.png')
							&.icon-4
								background-image url('../img/icon2.png')
					.btn-group
						font-size 0
						a
							display inline-block
							width 130px
							height 40px
							font-size 16px
							text-align center
							line-height 40px
							border-radius 20px
							margin 0 20px
							background public-color
							color #fff
							transition 0.3s
							@media(max-width 768px)
								margin 0 10px
								font-size 14px
							&:hover
								color public-color
								background #fff
							&+a
								background #fff
								color #333
								&:hover
									background public-color
									color #fff
			&.second-animation
				text-align center
				h3
					padding 230px 0 20px
					@media(max-width 768px)
						padding-top 200px
					span
						display inline-block
						padding 20px 30px
						font-size 50px
						color public-color
						border 1px solid public-color
						background rgba(255,255,255,0.6)
						@media(max-width 768px)
							font-size 20px
							padding 10px 20px
				p
					padding-bottom 20px
					text-align center
					font-size 14px
					color public-color
					span
						position relative
						padding-left 40px
						font-size 16px
						color #666
						@media(max-width 768px)
							font-size 14px
							padding 0 10px
							&:after
								display none
						&:after
							content ""
							position absolute
							left 20px
							top 50%
							margin-top -2px
							width 4px
							height 4px
							border-radius 50%
							background public-color
			&.third-animation
				h3
					padding 150px 0 20px
					font-size 50px
					color #3ebb6d
					@media(max-width 768px)
						padding-top 100px
						font-size 20px
					&+h3
						padding 0 0 20px
				.btn-group
					font-size 0
					a
						display inline-block
						width 130px
						height 40px
						font-size 16px
						text-align center
						line-height 40px
						border-radius 20px
						margin 0 20px
						background public-color
						color #fff
						transition 0.3s
						@media(max-width 768px)
							font-size 14px
						&:hover
							color public-color
							background #fff
				.tips
					font-size 18px
					color public-color
					padding-bottom 20px
					@media(max-width 768px)
						font-size 14px
		.swiper-pagination
			bottom 20px
		.swiper-pagination-bullet
			background #fff
			opacity 1
			transition 0.3s
			margin 0 8px
		.swiper-pagination-bullet-active
			background #3ebb6d
			transform scale(1.5)
		.swiper-button-prev
		.swiper-button-next
			position absolute
			width 44px
			height 44px
			margin-top -22px
			background #3ebb6d
			border-radius 50%
			transition 0.3s
			&:hover
				background #fff
				svg
					path
						fill public-color
			.icon-wrap
				padding 10px
				text-align center
			svg
				display block
				width 100%
				height 100%
				path
					fill #fff
					transition 0.3s
		.swiper-button-prev
			left 44px
			@media(max-width 768px)
				left 0
		.swiper-button-next
			right 44px
			@media(max-width 768px)
				right 0
	.notice
		font-size 12px
		color #666
		line-height 60px
		background #f7f7f7
		.df
			@media(max-width 768px)
				.col-xs-3
					width 100px
					padding 0
				.col-xs-9
					padding 0
					width calc(100% - 100px)
		.new-sms
			min-width 100px
			font-size 14px
			color #333
			padding-left 40px
			background url(../img/notice.png) left center no-repeat
		a.more
			color public-color
			width 100%
			text-align right
		a
			display block
			width 80%
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			&:hover
				color public-color
			@media(max-width 992px)
				width 100%
		span
			color public-color
			padding-right 10px
	.all
		text-align center
		padding-bottom 80px
		.title
			padding 80px 0
			h3
				padding-bottom 10px
				margin-bottom 0
				&:after
					display none
			p
				font-size 12px
				color #999		
		.wrap
			padding-bottom 10%
			border 1px solid #dcdcdc
			transition 0.3s
			&:hover
				box-shadow 3px 3px 10px #ccc
			@media(max-width 768px)
				margin 0 auto
				max-width 350px
				margin-bottom 15px
			.pic
				padding 40% 0 0
				min-height 80px
				background url(../img/icon_42.png) center center no-repeat
				&.icon-2
					background-image url(../img/icon_57.png)
				&.icon-3
					background-image url(../img/icon_21.png)
			h4
				padding-bottom 10px
				color #333
				font-size 18px
				line-height 1
			p
				margin 0 auto
				height 54px
				overflow hidden
				font-size 12px
				color #666
				max-width 270px
				width 90%
				line-height 1.5
				margin-bottom 30px
			a
				font-size 14px
				color public-color
				op0.5
	.data-system
		text-align center
		padding 80px 0
		background #f7f7f7
		@media(max-width 768px)
			padding-bottom 65px
		.content
			.wrap
				padding 35px 0
				color #fff
				text-align center
				border 1px solid #dcdcdc
				background public-color
				@media(max-width 768px)
					margin 0 auto 15px
					max-width 350px
				h4
					font-size 18px
					padding-bottom 14px
				p
					font-size 12px
					max-width 230px
					width 90%
					margin 0 auto
	.report
		padding 80px 0
		text-align center
		background #eeeeee
		.wrap
			position relative
			border-radius 5px
			@media(max-width 992px)
				margin-bottom 15px
			@media(max-width 768px)
				margin 0 auto 15px
				max-width 350px
			&:hover
				.content-child
					transform perspective(800px) rotateY(-180deg)
					opacity 0
				.pre
					transform perspective(800px) rotateY(0)
					opacity 1
		.content-child
			padding-bottom 60px
			transition 0.3s
			background #fff
			transform perspective(800px) rotateY(0)
			opacity 1
			.pic
				height 160px
				background url('../img/icon_68.png') center center no-repeat
				&.icon-2
					background-image url('../img/icon_67.png')
				&.icon-3
					background-image url('../img/icon_65.png')
				&.icon-4
					background-image url('../img/icon_64.png')
		h4
			font-size 18px
			color #333
		h5
			padding 8px 0 18px
			font-size 18px
			color public-color
		p
			font-size 14px
			color #666
		.pre
			position absolute
			bottom 0
			left 0
			right 0
			top 0
			background public-color
			color #fff
			border-radius 5px
			transform-origin center center
			transform perspective(800px) rotateY(180deg)
			opacity 0
			transition 0.3s
			h4
			h5
			p
				color #fff
			h4
				font-weight bold
				padding-top 60px
			h5
				padding 5px 0 30px
			p
				max-width 180px
				margin 0 auto
	.index
		padding 60px 0
		text-align center
		background #ddd
		.swiper-slide.swiper-slide-active
			.wrap
				margin-top 0
				padding-top 116px
				height 237px
			.child-wrap
				height 237px
		.title
			h3
				margin-bottom 60px
		.wrap
			position relative
			background #fff url(../img/1.png) center top /100% 116px no-repeat
			border-radius 5px
			overflow hidden
			padding-top 8px
			margin-top 55px
			transition 0.5s
			height 290px
			box-sizing content-box
			@media(max-width 768px)
				max-width 350px
				margin 0 auto
			&.icon-2
				background-image url('../img/2.png')
				.child-wrap
					a.btn
						color public-color
						&:hover
							background public-color
							color #fff
			&.icon-3
				background-image url('../img/3.png')
				.child-wrap
					a.btn
						color #8bc43f
						&:hover
							background #8bc43f
							color #fff
			&.icon-4
				background-image url('../img/4.png')
				.child-wrap
					a.btn
						color #21acda
						&:hover
							background #21acda
							color #fff
			.child-wrap
				position relative
				z-index 1
				background #fff
				transition 0.5s
				height 120px
				overflow hidden
				h3
					padding 40px 0 10px
					font-size 18px
					color #333
					line-height 2
				h4
					font-size 12px
					color #999
				a.btn
					display block
					width 130px
					height 43px
					font-size 16px
					line-height 43px
					text-align center
					margin 40px auto 0
					color #276090
					border 1px solid currentColor
					border-radius 10px
					transition 0.5s
					&:hover
						background #276091
						color #fff
			.pic
				position absolute
				bottom 0
				left 0
				right 0
	.case
		background public-color
		padding 80px 0
		text-align center
		.title
			h3
				color #fff
		.content
			min-height 135px
			overflow hidden
			border 1px solid #5eb579
			@media(max-width 992px)
				margin-bottom 15px
			.pic
				margin-top 5px
				height 92px
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				align-items center
				justify-content center
			h4
				font-size 14px
				color #fff
				line-height 1
	.vision
		padding 80px 0
		@media(max-width 992px)
			padding-bottom 65px
		.title
			text-align center
		.news
			h3
				font-size 30px
				color #333
				line-height 1.5
				padding-bottom 20px
				@media(max-width 992px)
					font-size 22px
					padding-bottom 10px
			p
				padding-bottom 20px
				font-size 14px
				color #666
				line-height 1.5
			a.btn
				display block
				width 110px
				height 36px
				font-size 14px
				color #fff
				line-height 36px
				text-align center
				border-radius 18px
				background #36a258
		.more
			margin-top 15px
			padding-bottom 10px
			a
				font-size 14px
				color #36a258
				line-height 1.5
		.pic
			@media(max-width 992px)
				margin-bottom 15px
			img
				display block
				width 100%
		.mobile-big
			@media(max-width 768px)
				margin-bottom 0
				margin-top 15px
				img
					max-width 400px
					margin 0 auto
	.news-root
		padding 80px 0
		background #f4f4f4
		.title
			@media(max-width 992px)
				margin-top 15px
		h3
			padding-left 0
			font-size 24px
			color #333
			line-height 48px
			padding-left 44px
			background url('../img/news.png') left center no-repeat
		a.more
			margin-left 10px
			line-height 48px
		.list
			padding-top 10px
			font-size 14px
			color #666
			line-height 36px
			a
				position relative
				padding-left 45px
				display block
				width 100%
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
				transition 0.3s
				@media(max-width 992px)
					padding-left 30px
				&:hover
					color public-color
				&:after
					content ""
					position absolute
					left 20px
					top 50%
					width 4px
					height 4px
					background public-color
					border-radius 50%
					margin-top -2px

.h-about-us
	.banner
		height 220px
		background url('../img/pic_55.jpg') center top no-repeat
	.about-company
		padding 80px 0
		h3
			position relative
			font-size 30px
			color #333
			line-height 1
			padding-bottom 26px
			margin-bottom 15px
			&:after
				content ""
				position absolute
				bottom 0
				left 0
				width 40px
				height 1px
				background public-color
		p
			padding-top 15px
			font-size 14px
			color #666
		.pic
			img
				display block
				width 100%
		a.btn
			display block
			margin-top 25px
			font-size 14px
			color #fff
			width 120px
			height 40px
			line-height 40px
			text-align center
			background public-color
			border-radius 5px
			@media(max-width 992px)
				margin-bottom 25px
	.master
		padding 80px 0
		background #f4f4f4
		.title
			text-align center
		.content
			.pic
				img
					display block
					width 100%
			h3
				font-size 20px
				color #333
				padding-bottom 14px
				line-height 1
			h4
				padding-bottom 22px
				font-size 14px
				color #36a258
				line-height 1
			p
				font-size 14px
				color #666
				line-height 22px
			.row
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				@media(max-width 992px)
					display block
		.bgfff
			background #fff
			height 100%
		.text
			padding 15px
			@media(max-width 992px)
				background #fff
		.df
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
		.ai
			align-self flex-end
		.pb20
			padding-bottom 30px
			@media(max-width 992px)
				padding-bottom 0
	.culture
		padding 80px 0
		.title
			h3
				text-align center
		.content
			.row
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				height 300px
				color #fff
				@media(max-width 992px)
					display block
				&>div
					min-height 300px
					padding-right 77px
					text-align right
					background url('../img/pic_23.jpg') right center/auto 100% no-repeat
					@media(max-width 992px)
						padding 0 15px
					p
						float right
						padding-top 30px
					&+div
						padding-left 77px
						background public-color
						text-align left
						@media(max-width 992px)
							padding 0 15px
						p
							padding-top 0
							float left

				small
					display block
					font-size 12px
				h3
					padding-top 70px
					padding-bottom 10px
					font-size 24px
				h4
					width 100%
					padding-top 30px
					font-size 18px
				p
					max-width 500px
					font-size 14px
					line-height 1.5

